<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="Plant.png" type="image/x-icon">
    <title>Plant Easy Care</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
           <a href="/"><img id="logo" src="Plant-removebg-preview.png" alt=""></a> 
                <!-- <h2>Plant Easy Care</h2> -->
            </div>
            
            <ul class="navbar-links">
                <li><a href="/user/login">Login</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact-info">Contacts</a></li>
            </ul>
        </nav>
       
        <header>
            <div class="header-container">
                <div class="banner">
                    <h1>Plant Easy Care</h1>
                    <h3>Detect your plant's disease with the power of AI</h3>
                    <button id="detect-button" class="detect-btn">Get Started</button>
                </div>
                <img class="home-image" src="home_image.png" alt="Plant Image">
            </div>
        </header>
    </div>
    
    <section id="services" class="services our-services">
        <h2>Some Diseases We can Detect </h2>
        <div class="services-container">
            <!-- <button class="scroll-btn left" onclick="scrollLeft()">&#10094;</button> -->
            <div class="services-cards">
                <div class="service-card">
                    <img src="apple_cedar_rust.png" alt="Service 1">
                    <p>Apple Cedar Rust</p>
                </div>
                <div class="service-card">
                    <img src="black_rot.png" alt="Service 2">
                    <p>Black Rot</p>
                </div>
                <div class="service-card">
                    <img src="citrus_greening.png" alt="Service 3">
                    <p>Citrus Greening</p>
                </div>
                <div class="service-card">
                    <img src="leaf_scorch.png" alt="Service 3">
                    <p>leaf Scorch</p>
                </div>
                <div class="service-card">
                    <img src="northern_leaf_blight.png" alt="Service 3">
                    <p>Northern Leaf Blight</p>
                </div>
                <div class="service-card">
                    <img src="image2.jpeg" alt="Service 3">
                    <p>disease</p>
                </div>
                <div class="service-card">
                    <img src="images3.jpeg" alt="Service 3">
                    <p>disease</p>
                </div>
                <div class="service-card">
                    <img src="image.png" alt="Service 3">
                    <p>disease</p>
                </div>
                <!-- Add more cards as needed -->
            </div>
            <!-- <button class="scroll-btn right" onclick="scrollRight()">&#10095;</button> -->
        </div>
    </section>
    <section id="about" class="about-us">
        <h2>About Us</h2>
        <p>Welcome to Plant Easy, an innovative project aimed at transforming how we detect and prevent plant diseases. Our goal is to develop an efficient and automated plant disease detection system using advanced Machine Learning techniques. By leveraging TensorFlow and Convolutional Neural Networks (CNNs), we can accurately identify a wide range of plant diseases from leaf images.
            
            Our model is trained on a robust dataset sourced from Kaggle, which includes numerous plant species and their associated diseases. Plant Easy demonstrates the power of machine learning in modernizing plantation practices, making disease detection tools more accessible and effective.
            
            Through our system, we are committed to improving plant health, enhancing food security, and promoting sustainable agricultural practices for a better future.</p>
    </section>


    
    <footer>
        <section id="contact-info">

            <div class="contact-info">
                <h3>Connect with us</h3>
                <div class="contact-details">
                    <div class="main-office">
                        <p><strong>SRM University</strong></p>
                        <p>Sonepat,Haryana<br>India</p>
                    </div>
                    <div class="social-media">
                        <p><strong>Social Media</strong></p>
                        <p>Facebook<br>Instagram</p>
                    </div>
                </div>
                <p class="email">deepanshudrona@gmail.com</p>
                <p class="email">singhmaneshwar08@gmail.com</p>
                <p class="email">shaunkurianphilip@gmail.com</p>
            </div>
        </section>
    </footer>

    <script src="script.js"></script>
</body>
</html>
